@charset "UTF-8";

body{
  margin: 1em 1em 1em 2em;
}

h1{
  padding:  3px 5px 3px 5px;
  width:  16em;
  background-color:  #FF9900;
  font-size:  2em;
  color:  #FFFFFF;
}

DT{
  padding:  .3em .3em .3em 5px;
  margin:  1em 0 .5em 0;
  width:  8em;
  border-right:  1px solid #666666;
  border-bottom:  1px solid #666666;
  border-left:  1em solid #FF9900;
  background-color:  #EEEEEE;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
